
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    <h3>
        Цей сайт сторив Розквас Олег з метою відображення сеансів фільмів по різних кінотеатрах, за різними ознаками.
        Розквас Олег - Студент 3 курсу НУ ЛП.
        Хорошого вам перегляду фільмів)))
    </h3>
</p>
<p><b><a href="/Home/Index">Вернутися на головну</a></b></p>