
@{
    ViewBag.Title = "Cotact";
}

<h2>Наші контактні дані:</h2>

<p>
    <h3>Телефони:</h3>
    <p>
    <ul>
        <li>+380 98 221 24 92</li>
        <li>+380 63 477 31 51</li>
    </ul>
    </p>
    <h3>Email:</h3> <h4>oleg.rozkvas@gmail.com</h4>
