
@{
    ViewBag.Title = "Головна сторінка";
}

<h2>Головна сторінка</h2>

<p><h3><b><a href="/Home/FilmList">Список фільмів</a></b></h3></p>
<p><h3><b><a href="/Home/GenreList">Список жанрів</a></b></h3></p>
<p><h3><b><a href="/Home/ActorList">Список акторів</a></b></h3></p>